<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enableets.edu.enable.cloud.exam.framework.dao.ExamLevelTemplateDAO">

  <!-- 查询分数等级信息 -->
  <select id="getLevelTemlate"  resultType="com.enableets.edu.enable.cloud.exam.framework.po.ExamLevelTemplatePO" >
		select
			a.level_name as levelName,
			a.min_point as minPoint,
			a.max_point as maxPoint,
			a.sequence as sequence
		from
			exam_level_template a
			GROUP BY a.sequence ASC
	</select>

</mapper>
